.courseRegistrationContainer {
  background-color: var(--primary-color);
  color: var(--text-white-color);
  padding-block: 2rem;
  margin-bottom: 3rem;
}

.courseRegistrationTitle {
  text-align: center;
}
