.aboutSectionContainer {
  text-align: center;
}

.aboutDescription {
  font-size: 0.85rem;
  color: var(--text-gray-color);
  line-height: 1.5;
  max-width: 760px;
  margin: 0 auto;
  margin-top: 1rem;
}

/* Media Queries */

@media screen and (max-width: 960px) {
  .aboutDescription {
    max-width: 560px;
  }
}
