@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --primary-color: #990202;
  --shadow-color: #0000002f;
  --border-color: #ffd700;
  --text-white-color: #ffffff;
  --text-gray-color: #0000009d;
  --text-black-color: #000000;
}

*,
body,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

.contentContainer {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  margin-block: 2rem;
  padding: 0 1.5rem;
}

.primaryButton {
  font-size: 1rem;
  padding: 0.65rem 1rem;
  color: var(--text-white-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.35rem;
  cursor: pointer;
  width: fit-content;
  text-decoration: none;
  transition: background-color 200ms linear;
}

.primaryButton:hover {
  background-color: var(--border-color);
  color: var(--text-black-color);
}

.secondaryButton {
  font-size: 1rem;
  padding: 0.65rem 1rem;
  color: var(--text-black-color);
  background-color: var(--border-color);
  border: none;
  border-radius: 0.35rem;
  cursor: pointer;
  width: fit-content;
  text-decoration: none;
}

.field {
  margin-top: 0.5rem;
  width: 100%;
  min-height: 2.5rem;
  border-radius: 0.4rem;
  padding-inline: 0.65rem;
  font-family: "Roboto", sans-serif;
  border: none;
}
