@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --primary-color: #990202;
  --shadow-color: #0000002f;
  --border-color: #0000003e;
  --text-white-color: #ffffff;
  --text-gray-color: #0000009d;
}

*,
body,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
